body {
	margin: 0;
	background: url('../img/bg-1.jpg') no-repeat top center;
	background-color: #50d1e4;
}

input:focus, textarea:focus, select:focus, button:focus{
	outline:none;
}

h1, h2, h3 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p, li {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.align-left {
	text-align: left;
}

.align-mid {
	text-align: center;
}

.align-right {
	text-align: right;
}

.text-wrap {
	padding: 0 20px;
}

.row-wrap {
	width: 960px;
	margin: 0 auto;
}

.row:after {
	content: '';
	display: block;
	clear: both;
}

.col-30 {
	width: 30%;
	float: left;
}

.col-33 {
	width: 33.33%;
	float: left;
}

.col-40 {
	width: 40%;
	float: left;
}

.col-50 {
	width: 50%;
	float: left;
}

.col-60 {
	width: 60%;
	float: left;
}

.col-70 {
	width: 70%;
	float: left;
}

.col-100 {
	width: 100%;
	float: left;
}

.left {
	float: left;
}

.right {
	float: right;
}









#main-header {

}

#main-header-logo {
	border: 1px black solid;
	height: 120px;
}

#main-header-nav {
	margin-top: 5px;
	border-radius: 10px;
	background: -webkit-linear-gradient(#FFBF00 0%, #FF8000 100%);
	background: -o-linear-gradient(#FFBF00 0%, #FF8000 100%);
	background: -moz-linear-gradient(#FFBF00 0%, #FF8000 100%);
	background: linear-gradient(#FFBF00 0%, #FF8000 100%);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

#main-header-nav > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#main-header-nav > ul > li {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}

#main-header-nav > ul > li:first-child {
	padding-left: 10px;
}

#main-header-nav > ul > li:after {
	content: '|';
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	padding-left: 10px;
	padding-right: 10px;
}

#main-header-nav > ul > li:last-child:after {
	content: '';
}

#main-header-nav > ul > li > a {
	padding: 6px;
	color: #FFFFFF;
	text-decoration: none;
}

#main-header-nav > ul > li > a:hover {
	text-decoration: underline;
}

#main-header-nav > ul:after {
	content: '';
	display: block;
	clear: both;
}

#main-header-nav:after {
	content: '';
	display: block;
	clear: both;
}












#main-content {
	margin-top: 5px;
}

#main-content > .row-wrap {
	background-color: #ffffff;
}

#main-content-img-slider {
	position: relative;
	width: 100%;
	height: 500px;
}

#main-content-img-slider-slider {
	width: inherit;
	height: inherit;
}

#main-content-img-slider-slider-img {
	width: inherit;
	height: inherit;
}

#main-content-img-slider-control {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
	width: inherit;
	height: inherit;
}

#main-content-img-slider-control > button {
	width: 20%;
	height: inherit;
	border: 0;
	background-color: transparent;
}

#main-content-img-slider-control > button:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}


















#main-footer {
	
}